body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.gird {
  display: grid;
  grid-template: repeat(20, 40px) / repeat(20, 40px);
  border: 1px solid #ffffff80;
  grid-auto-flow: row;
}

.cell {
  border: 0.5px solid #ffffff80;
  
}